/* Navigation bar  */
#navbar{
  flex-direction: column;
}
#navbar ul li a{
  font-size: 1rem;
  padding: 0px 7px;
  padding-bottom: 8px;
}
/* Home Section  */
#home{
  height: 358px;
  /* width: 350px; */
  padding: 3px 68px;
}
#home::before{
  height: 500px;
}
#home p{
  font-size: 13px;
}

/* Service Section  */
#services{
  flex-direction: column;
}
#services .box{
  padding: 20px;
  margin: 3px 0px;
  margin-bottom: 30px;

}

/* Client Section  */
#clients{
  flex-wrap: wrap;
}
#clients img{
  height: auto;
  width: 107px;
  padding: 6px;
}

/* Footer  */

/* utility classes */
.h-primary{
  font-size: 25px;
}
.btn{
  font-size: 15px;
  padding: 2px 0px;
  width: 120px;
}
