/* CSS Reset */
*{
  margin: 0px;
  padding: 0px;
}
/* CSS Variables */
:root{
  --navbar-height: 60px;
}
/* Navigation bar */
#navbar{
  display: flex;
  position: sticky;
  align-items: center;
  top: 0px;
}
/* Navigation bar : Logo and image */
#logo{
margin: 34px 0px;
}
#logo img{
  height: 82px;
  margin: 0px 15px;
}

/* Navigation bar : List Styling */
#navbar ul{
  display: flex;
  font-family: 'Baloo 2', cursive;
}
#navbar::before{
  content: "";
  position: absolute;
  background: black;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.6;
}
#navbar ul li{
  list-style: none;
  font-size: 1.3rem;
  
}
#navbar ul li a{
  color: white;
 display: block;
 padding: 3px 33px;
 border-radius: 5px;
 text-decoration: none;
}
#navbar ul li a:hover{
  color: black;
 background-color: white;
}
/* Home Styling */
#home{
  display: flex;
  flex-direction: column;
  height: 595px;
  align-items: center;
  justify-content: center;
  padding: 3px 200px;
}
#home::before{
  content: "";
  position: absolute;
  background: url(../img/bg.jpg) no-repeat center center/cover;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.89;
}
#home h1{
  font-family: 'Bree Serif', serif;
  color: white;
  text-align: center;
}
#home p{
  font-family: 'Bree Serif', serif;
  color: white;
  text-align: center;
  font-size: 1.3rem;
}
/* Services Section */
#services{
margin: 34px;
display: flex;
}
#services .box{
  border: 3px solid #a8a8a8;
  border-radius: 23px;
  margin: 6px;
  padding: 12px 33px;
  background-color: #f8f8f8;
  }
#services .box img{
  height: 156px;
  display: block;
  margin: auto;
}
#services .box p{
  font-family: 'Bree Serif', serif;
}
/* client section */
#client-section{
  position: relative;
}
#client-section::before{
 content: "";
 position: absolute;
 background: url(../img/bg2.jpg);
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.9;
}
#clients{
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  border: 2px solid rgb(141, 139, 139);
  border-radius: 23px;
  width: 680px;
  height: 280px;
  margin: 32px 680px;
  padding: 15px 33px; */
  justify-content: center;
  text-align: center;
}
.client-item{
  padding: 34px;
}
#clients img{
 height: 118px;
 /* margin: 5px 20px;
 padding: 2px 33px;
 border: 2px solid grey;
 border-radius: 23px;
 background-color: rgb(236, 236, 236); */
}
/* Contact Section  */
#contact{
  position: relative;
}
#contact::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/contact.jpg);
  z-index: -1;
  opacity: 0.6;
}
#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input, #contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 8px;
}
#contact-box form{
width: 48%;
}
#contact-box label{
font-size: 1.4rem;
font-family: 'Bree Serif', serif;
}
footer{
  background: black;
  color: white;
  padding: 9px 20px;
}
html{
  scroll-behavior: smooth;
}


/* utility classes */
.h-primary{
  font-family: 'Bree Serif', serif;
  font-size: 3.8rem;
  padding: 12px;
}
.h-secondary{
  font-family: 'Bree Serif', serif;
  font-size: 1.8rem;
  padding: 12px;
}
.btn{
  color: white;
  background: #000;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 13px;
  margin: 15px 20px;
  padding: 3px 33px;
cursor: pointer;
}
.center{
  text-align: center;
}
